{% extends 'base.html' %}
{% block title %}
扬帆蓝海幼儿英语能力测试系统
{% endblock %}

{% block content %}
<div>
    <H2></H2>
    <div class="row">
        {% for l in levels %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <a href="/know/test/{{ l.id }}/"><img src="{{ l.get_image }}" /></a>
                    <a class="btn-floating halfway-fab waves-effect waves-light red center" href="/know/test/{{ l.id }}/">GO</a>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <H5>{{ l.name }}</H5>
                        <p>{{ l.total_word }} 词<span class="label new"><a href="/know/test/{{ l.id }}/list">{{ l.total_test }} 人次参与</a></span></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}